{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<link rel="icon" href="{% static 'img/pesa.ico' %}" type="image/x-icon">
<div class="project-title">DETECTOR DE ERRORES DE PESO MUERTO</div>
<div id="container" style="display: none;">
    <div id="webcam-container"></div>
    <div id="label-container"></div>
</div>
<div id="container_results" style="display: none;">
    <h2>Resultados</h2>
    <div id="results-content"></div>
</div>
<br>
<button class="start-button" id="startButton" type="button" onclick="init()">Empezar</button>
<button class="start-button" id="resultadosButton" type="button" style="display: none;" onclick="resultados()">Resultados</button>
<button class="start-button" id="salirButton">Salir</button>

<!-- Función para enviar a la página principal -->
<script>
    document.getElementById('salirButton').onclick = function() {
        window.location.href = "{% url 'index' %}";
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript">
    const URL = "{% static 'Models/Modelo_V1/' %}";

    let model, webcam, labelContainer, resultLabelContainer, maxPredictions;
    let isRunning = false;
    let predictionCounts = {};

    async function init() {
        document.getElementById('container').style.display = 'flex';
        document.getElementById('startButton').style.display = 'none';
        document.getElementById('resultadosButton').style.display = 'block';

        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        const flip = true;
        webcam = new tmImage.Webcam(450, 450, flip);
        await webcam.setup();
        await webcam.play();
        isRunning = true;
        window.requestAnimationFrame(loop);

        document.getElementById("webcam-container").appendChild(webcam.canvas);
        labelContainer = document.getElementById("label-container");
        resultLabelContainer = document.getElementById("results-content");

        for (let i = 0; i < maxPredictions; i++) {
            labelContainer.appendChild(document.createElement("div"));
        }

        // Inicializar el objeto de conteo de predicciones
        const metadata = await (await fetch(metadataURL)).json();
        metadata.labels.forEach(label => {
            if (label !== 'nada' && label !== 'bien') {
                predictionCounts[label] = 0;
            }
        });
    }

    async function loop() {
        if (!isRunning) return;
        webcam.update();
        await predict();
        window.requestAnimationFrame(loop);
    }

    async function predict() {
        const predictions = await model.predict(webcam.canvas);

        // Encontrar la clase con la mayor probabilidad
        let maxProbability = -1;
        let maxIndex = -1;
        for (let i = 0; i < maxPredictions; i++) {
            if (predictions[i].probability > maxProbability) {
                maxProbability = predictions[i].probability;
                maxIndex = i;
            }
        }

        // Actualizar los labels
        for (let i = 0; i < maxPredictions; i++) {
            const classPrediction = `${predictions[i].className}: ${predictions[i].probability.toFixed(2)}`;
            const labelDiv = labelContainer.childNodes[i];
            labelDiv.innerHTML = classPrediction;

            // Aplicar estilos basado en la probabilidad más alta
            if (i === maxIndex) {
                labelDiv.style.color = 'green'; // Color verde para la probabilidad más alta
            } else {
                labelDiv.style.color = 'white'; // Color blanco para las demás probabilidades
            }
        }

        // Incrementar el conteo de la predicción con mayor probabilidad
        const predictedClass = predictions[maxIndex].className;
        if (predictedClass !== 'nada' && predictedClass !== 'bien') {
            predictionCounts[predictedClass]++;
        }
    }

    function resultados() {
        isRunning = false;
        webcam.stop();
        document.getElementById('container').style.display = 'none';
        document.getElementById('container_results').style.display = 'flex';
        document.getElementById('resultadosButton').style.display = 'none';

        // Mostrar resumen de resultados
        resultLabelContainer.innerHTML = '';
        for (const [className, count] of Object.entries(predictionCounts)) {
            const resultDiv = document.createElement('div');
            resultDiv.innerHTML = `${className}: ${count} ${count === 1 ? 'vez' : 'veces'}`;
            resultLabelContainer.appendChild(resultDiv);
        }
    }
</script>
