body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #031749;
    font-size: 1.25rem;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 15%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-left: 10px; /* Espaciado entre el botón y la imagen */
    vertical-align: middle; /* Alinear verticalmente con el botón */
}

#registerMessage {
    margin-top: 10px;
    font-size: 14px;
}

#registerMessage a {
    color: #007bff;
    text-decoration: none;
}

#registerMessage a:hover {
    text-decoration: underline;
}

.sidebar {
    height: 100%; /* Full-height: always stays full-height */
    width: 0; /* Initial width of 0 for the sidebar */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #031749; /* Color of the sidebar */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    padding-top: 60px; /* Place content 60px from the top */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1 {
    margin-left: 10px;
    font-size: 3.5rem;
    margin-top: 0; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: nowrap;
}

.menu {
    background: none;
    border: none;
    font-size: 35px;
    font-size: 2.4rem;
    color: #031749; /* Icono del menú en blanco para contraste */
}

.btn {
    padding: 15px 50px;
    background-color: #031749;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.15rem;
    margin: 20px;
    width: 250px;
    cursor: pointer;
}

.horizontal-container {
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: stretch; /* Asegura que ambos elementos tengan la misma altura */
    margin-bottom: 20px; /* Espacio entre el contenedor horizontal y el siguiente elemento */
}

.titulos_btn {
    flex: 1; /* Permite que .titulos_btn ocupe el espacio necesario */
    margin-right: 20px; /* Espacio a la derecha de .titulos_btn */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px; /* Opcional: Añade un padding para dar espacio interno */
}

.video {
    flex: 1; /* Permite que .video ocupe el espacio necesario */
    display: flex; /* Asegura que los elementos internos se alineen correctamente */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    transform: scale(1);
}

.webcam {
    border: 10px solid #031749; /* Añade un borde alrededor del contenedor */

}




/* Estilos para las predicciones en tiempo real */
#label-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    align-items: center;
    background-color: #F1F5FF; /* Fondo claro */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.label-item {
    text-align: center; /* Centrar texto */
}

.label-item .label-percentage {
    font-size: 1.5rem; /* Tamaño grande para el porcentaje */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espacio inferior */
}

.label-item .label-name {
    font-size: 1rem; /* Tamaño normal para el nombre */
    color: #031749; /* Color del texto */
}

/* RESULTADOS */

#container_results {
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos horizontalmente */
}

#container_results h2 {
    color: #031749; /* Color del texto */
    font-size: 3.9rem; /* Tamaño de fuente */
    margin-bottom: 10px;
    margin-top: 0; /* Eliminar margen superior */
    line-height: 1.2; /* Ajustar la altura de la línea */
}

#container_results h3 {
    color: #031749; /* Color del texto */
    font-size: 0.9rem; /* Tamaño de fuente */
    margin-bottom: 30px;
    margin-top: 0; /* Eliminar margen superior */
    line-height: 1.2; /* Ajustar la altura de la línea */
}


#results-content {
    display: flex;
    flex-direction: column; /* Alinear en columna */
    align-items: center; /* Centrar los elementos horizontalmente */
    margin-bottom: 30px;
    width: 100%; /* Asegurar que los elementos ocupen el ancho completo */
}

#results-content .result-item {
    font-size: 1.5rem;
    color: #031749;
    margin-bottom: 10px;
    text-align: center; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegurar que los elementos ocupen el ancho completo */
}

#results-content .result-item .label-name {
    font-weight: bold;
}

#container_results .btn-container {
    display: flex;
    justify-content: center; /* Centrar los botones horizontalmente */
}



/* PIE DE PAGINA */
.card {
    display: flex;
    justify-content: flex-end; /* Envía los íconos a la derecha */
    height: 70px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    max-width: 350px; /* Máximo ancho del contenedor de los íconos */
    margin: 0 right; /* Centra la tarjeta dentro del footer */
}


.card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
    fill: #031749; /* Color de los iconos */
}

.card .social-link1, .card .social-link2, .card .social-link3, .card .social-link4, .card .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: #031749;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card svg {
    transform: scale(1);
}

.card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}


.card .social-link5:hover {
    background-color: #3b5998; /* Facebook color */
    animation: bounce_613 0.4s linear;
}


@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    padding: 30px;
    background-color: #80849c; /* Fondo del pie de página */
    margin-top: auto; /* Empuja el footer al final */
    display: flex;
}

.footer-message {
    font-size: 1rem; /* Tamaño de la fuente */
    font-weight: 500; /* Grosor del texto */
    max-width: 50%; /* Asegura que el mensaje no ocupe más del 60% del ancho */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-right: auto; /* Empuja el mensaje hacia la izquierda */
}

.social-icons {
    display: flex; /* Asegura que los iconos se alineen en fila */
    color: #031749; /* Color de los enlaces en el pie de página para contraste */
    margin: 0 10px;
    padding: 20px;
    text-decoration: none;
    width: 100%;
    justify-content: flex-end;
    background-color: white; /* Elimina el subrayado de los enlaces */
}






.auth-buttons {
    margin-left: auto;
}

/* Botón Invertido Pequeño y Alineado a la Derecha */
.auth-buttons {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 0; /* Eliminar cualquier espacio entre los botones */
}

.btn.inverted {
    background-color: white;
    color: #031749;
    border: 2px solid #031749;
    padding: 8px 5px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn.inverted:hover {
    background-color: #031749;
    color: white;
}


.welcome-message {
    font-size: 1rem; /* Tamaño de la fuente */
    color: #031749; /* Color del texto */
    margin-right: 15px; /* Espacio a la derecha */
    font-weight: 500; /* Grosor del texto */
    display: flex;
    align-items: center; /* Centrar verticalmente si se usa con otros elementos */
}

/* Popups */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px; /* Añadir padding para asegurar espacio en pantallas pequeñas */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Reducir el ancho en pantallas más pequeñas */
    max-width: 500px;
    position: relative;
    overflow-y: auto; /* Permite el desplazamiento en contenido extenso */
    max-height: 90vh; /* Limitar la altura máxima para asegurar que no se salga de la pantalla */
}

.popup-content h2 {
    margin-top: 0;
    font-size: 1.8rem; /* Ajustar el tamaño de la fuente para pantallas pequeñas */
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001; /* Asegura que la X esté siempre encima */
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content form label {
    margin-bottom: 5px;
}

.popup-content form input,
.popup-content form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content form button {
    background-color: #031749;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px; /* Mantén las proporciones */
    vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
}

.btn.inverted:hover .button-icon {
    filter: invert(1); /* Invierte los colores del ícono */
}

/* Ajustes generales para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    #container_results h2 {
        color: #031749; /* Color del texto */
        font-size: 2.5rem; /* Tamaño de fuente */
        margin-bottom: 10px;
        margin-top: 0; /* Eliminar margen superior */
        line-height: 1.2; /* Ajustar la altura de la línea */
    }
    .logo {
        width: 35%; /* Ajusta el tamaño según sea necesario */
        height: auto;
        margin-left: 5px; /* Espaciado entre el botón y la imagen */
        vertical-align: middle; /* Alinear verticalmente con el botón */
    }
    .menu {
        font-size: 2rem;
    }

    .auth-buttons {
        display: flex;
        align-items: center; /* Alinea verticalmente en el centro */
    }
    
    .btn.inverted {
        display: flex; /* Cambia el botón a un contenedor flex */
        align-items: center; /* Alinea ícono y texto en el centro verticalmente */
        justify-content: center; /* Centra ícono y texto horizontalmente */
        padding: 4px 8px; /* Ajusta el padding para que el botón no ocupe demasiado espacio */
        font-size: 0.8rem; /* Un tamaño de fuente más pequeño */
        white-space: nowrap; /* Evita que el texto se rompa en dos líneas */
        max-width: 100%; /* Evita que el botón se desborde */
        box-sizing: border-box; /* Incluye el padding dentro del ancho del botón */
    }

    .btn.inverted img {
        margin-right: 5px; /* Espacio entre el ícono y el texto */
        width: 18px; /* Ajusta el tamaño del ícono */
        height: 18px; /* Ajusta el tamaño del ícono */
    }
    
    img {
        width: 100%; /* La imagen se ajusta al 100% del ancho de su contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-width: 100%; /* Evita que la imagen se salga del contenedor */
        display: block; /* Elimina cualquier espacio extra generado por elementos inline */
        margin: 0 auto; /* Centra la imagen si hay espacio disponible */
    }

    .welcome-message {
        font-size: 0.70rem;
        
    }
    .horizontal-container {
        flex-direction: column;
        align-items: center;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        width: 95%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .video video {
        width: 100%;
        height: auto;
        max-height: 300px; /* Limita la altura máxima del video */
    }
    
    .btn {
        width: 90%;
        font-size: 1rem;
        margin: 5px;
    }

    .titulos_btn {
        margin-bottom: 20px;
        text-align: center;
    }

    footer {
        padding: 20px;
        background-color: #80849c; /* Fondo del footer */
        text-align: center;
        margin-top: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .footer-message {
        font-size: 0.65rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
        max-width: 100%; /* Permite que el mensaje ocupe todo el ancho si es necesario */
        margin-bottom: 10px; /* Espacio inferior para separación */
    }
    
    .social-icons {
        display: flex;
        justify-content: center; /* Centra los íconos horizontalmente */
        align-items: center;
        gap: 15px; /* Espacio entre los íconos */
        flex-wrap: wrap; /* Permite que los íconos se muevan a la siguiente línea si es necesario */
        margin-top: 0; 
    }
    
    .card {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .card a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px; /* Ajusta el tamaño de los contenedores de los íconos */
        height: 50px;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
    
    .card a:hover {
        background-color: #f09433; /* Efecto hover */
    }
}

/* Ajustes para tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .menu {
        font-size: 2.2rem;
    }

    .auth-buttons {
        flex-direction: row;
    }

    .btn.inverted {
        display: flex; /* Cambia el botón a un contenedor flex */
        align-items: center; /* Alinea ícono y texto en el centro verticalmente */
        justify-content: center; /* Centra ícono y texto horizontalmente */
    }

    .btn.inverted img {
        margin-right: 5px; /* Espacio entre el ícono y el texto */
        width: 16px; /* Ajusta el tamaño del ícono */
        height: 16px; /* Ajusta el tamaño del ícono */
    }

    .horizontal-container {
        flex-direction: column;
        align-items: center;
    }

    .video {
        width: 90%;
    }

    .btn {
        width: 70%;
        font-size: 1.1rem;
    }
    .botones_rd {
        display: flex;
        flex-direction: column; /* Mantiene los botones en una columna */
        align-items: center; /* Centra los botones horizontalmente */
        gap: 5px;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        margin: 0 auto; /* Centra el contenedor dentro del área */
    }
}

@media only screen and (orientation: landscape) {
    .horizontal-container {
        flex-direction: row;
    }
}
